# Paso a formato Shapefile
También se guardará el dataset en formato shp para poder visualizar el resultado en forma de mapa
## 1. Importación de librerías y establecimiento de directorio de trabajo

In [1]:
import os
import numpy as np
import pandas as pd
import geopandas as gpd
import warnings
warnings.simplefilter("ignore")

os.chdir("C:/Users/aleja/OneDrive - Universidad Politécnica de Madrid/Universidad/Asignaturas/Cuarto/Trabajo de Fin de Grado")

## 2. Carga de datos

In [2]:
accesos = pd.read_csv("Resultados/Accesos_Calidad_Vida.csv", index_col="Unnamed: 0")
accesos.head()

     latitud  longitud  edad  calidad_vida
0  41.621468  2.068474    11     52.885748
1  41.600270  2.085002    12     74.793875
2  41.616524  2.089927    12     79.858657
3  41.618820  2.089480    11     79.858657
4  41.618908  2.089475    12     79.858657

## 3. Guardar en formato shp
### 3.1. Todos los datos

In [3]:
accesos_geo = gpd.GeoDataFrame(accesos.drop(['latitud', 'longitud'], axis=1), 
                               crs="EPSG:4326", 
                               geometry=gpd.points_from_xy(accesos['longitud'], accesos['latitud']))

accesos_geo.to_file("Resultados/Accesos_Calidad_Vida.shp")

accesos_geo.head()

      edad  calidad_vida                  geometry
0       11     52.885748  POINT (2.06847 41.62147)
1       12     74.793875  POINT (2.08500 41.60027)
2       12     79.858657  POINT (2.08993 41.61652)
3       11     79.858657  POINT (2.08948 41.61882)
4       12     79.858657  POINT (2.08947 41.61891)
...    ...           ...                       ...
7934    72     79.858657  POINT (2.08977 41.61781)
7935    65     34.511190  POINT (2.06794 41.62406)
7936    68     34.511190  POINT (2.06815 41.62417)
7937    72     79.858657  POINT (2.08307 41.61268)
7938    67     79.858657  POINT (2.09472 41.61948)

[47634 rows x 3 columns]

### 3.2. Menores de 18 años

In [9]:
accesos_geo_menores = accesos_geo[accesos_geo["edad"] < 18]
accesos_geo_menores = accesos_geo_menores.reset_index()
accesos_geo_menores = accesos_geo_menores.drop(columns=['index'])

accesos_menores = accesos[accesos["edad"] < 18]
accesos_menores = accesos_menores.reset_index()
accesos_menores = accesos_menores.drop(columns=['index'])

accesos_menores.to_csv("Resultados/Accesos_qol_menores.csv")
accesos_geo_menores.to_file("Resultados/Accesos_qol_menores.shp")

accesos_geo_menores.head()

### 3.3. Mayores de 18 años y menores de 65 años

In [17]:
accesos_geo_medianos = accesos_geo[accesos_geo["edad"] < 65]
accesos_geo_medianos = accesos_geo_medianos[accesos_geo_medianos["edad"] > 18]
accesos_geo_medianos = accesos_geo_medianos.reset_index()
accesos_geo_medianos = accesos_geo_medianos.drop(columns=['index'])

accesos_medianos = accesos[accesos["edad"] < 65]
accesos_medianos = accesos_medianos[accesos_medianos["edad"] > 18]
accesos_medianos = accesos_medianos.reset_index()
accesos_medianos = accesos_medianos.drop(columns=['index'])

accesos_medianos.to_csv("Resultados/Accesos/Accesos_qol_medianos.csv")
accesos_geo_medianos.to_file("Resultados/Accesos/Accesos_qol_medianos.shp")

accesos_geo_medianos.head()

### 3.3. Mayores de 65 años

In [19]:
accesos_geo_mayores = accesos_geo[accesos_geo["edad"] > 64]
accesos_geo_mayores = accesos_geo_mayores.reset_index()
accesos_geo_mayores = accesos_geo_mayores.drop(columns=['index'])

accesos_mayores = accesos[accesos["edad"] > 64]
accesos_mayores = accesos_mayores.reset_index()
accesos_mayores = accesos_mayores.drop(columns=['index'])

accesos_mayores.to_csv("Resultados/Accesos/Accesos_qol_mayores.csv")
accesos_geo_mayores.to_file("Resultados/Accesos/Accesos_qol_mayores.shp")

accesos_geo_mayores.head()